<div class="movie-container">
    <div class="img-container">
        <img class="movie-image" src="{{movie.imageUrl}}" />
    </div>
    <div class="movie-info-container">
        <h1 class="movie-title">{{movie.title}}</h1>
        <div class="info-container">
            <div class="info-label">Director:</div>
            <div class="info">{{movie.director}}</div>
        </div>
        <div class="info-container">
            <div class="info-label">Studio:</div>
            <div class="info">{{movie.studio}}</div>
        </div>
        <div class="info-container">
            <div class="info-label">Duration:</div>
            <div class="info">{{movie.duration}}</div>
        </div>
        <div class="info-container">
            <div class="info-label">Date Released:</div>
            <div class="info">{{movie.dateReleased}}</div>
        </div>
        <div class="info-container">
            <div class="info-label">Plot:</div>
            <div class="info">{{movie.plot}}</div>
        </div>
        <div class="stars-container">
            <div>
                <div class="movie-rate" lay-options="{value:{{movie.overallRating}}  }"></div>
                <div class="stars-title">{{movie.numberOfRatings}} Reviews</div>
            </div>
        </div>
    </div>
    <div class="reviews-container">
        <ol>
            {{#each reviews}}
            <li>

                <div class="review-item-container">
                    <div class="review-item-top">
                        <div class="movie-rate" lay-options="{value:{{this.rating}}  }"></div>
                        <div class="review-date">
                            {{this.reviewDate}}
                        </div>
                    </div>
                    <div class="review-content">
                        {{this.review}}
                    </div>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
</div>

<div class="review-btn-container">
    {{#if myReview}}
    <button class="layui-btn review-btn layui-btn-danger" onclick="review()">My Review</button>
    {{else}}
    <button class="layui-btn review-btn" onclick="review()">Review</button>
    {{/if}}
</div>
{{#if myReview}}
<div class="review-overlay" id="reviewPanel">
    <div class="review-container">
        <div class="review-panel-container">
            <div class="review-title">My Review</div>
            <div>
                <div class="review-rate-container">
                    <div class="movie-rate" lay-options="{value:{{myReview.rating}}  }"></div>
                </div>
                <div>
                    <textarea id="review" readonly placeholder="{{myReview.review}}" class="layui-textarea"></textarea>
                </div>
                <div class="review-btns">
                    <button class="layui-btn layui-btn-danger" onclick="hideReview()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<div class="review-overlay" id="reviewPanel">
    <div class="review-container">
        <div class="review-panel-container">
            <div class="review-title">Review the movie</div>
            <div>
                <div class="review-rate-container">
                    <div id="review-rate"></div>
                </div>
                <div>
                    <textarea id="review" placeholder="Say something." class="layui-textarea"></textarea>
                </div>
                <div class="review-btns">
                    <button class="layui-btn" onclick="submitReview()">Submit</button>
                    <button class="layui-btn layui-btn-danger" onclick="hideReview()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}

<link href="/public/css/detail.css" rel="stylesheet" />
<script src="/public/js/detail.js"></script>