<div>
    <link href="/public/css/home.css" rel="stylesheet" />
    <ol>
        {{#each moviesData.data}}
        <li>
            <a class="movie-container movie-container-{{this.isRecommanded}}" href="/movie/{{this._id}}">
                <img class="movie-image" src="{{this.imageUrl}}" />
                <div class="movie-info-container">
                    <h1 class="movie-title">{{this.title}}</h1>
                    <div class="info-container">
                        <div class="info-label">Director:</div>
                        <div class="info">{{this.director}}</div>
                    </div>
                    <div class="info-container">
                        <div class="info-label">Studio:</div>
                        <div class="info">{{this.studio}}</div>
                    </div>
                    <div class="info-container">
                        <div class="info-label">Duration:</div>
                        <div class="info">{{this.duration}}</div>
                    </div>
                    <div class="info-container">
                        <div class="info-label">Date Released:</div>
                        <div class="info">{{this.dateReleased}}</div>
                    </div>
                    <div class="info-container">
                        <div class="info-label">Plot:</div>
                        <div class="info">{{this.plot}}</div>
                    </div>
                    <div class="stars-container">
                        <div class="movie-rate" lay-options="{value: {{this.overallRating}} }"></div>
                        <div class="stars-title">{{this.numberOfRatings}} Reviews</div>
                    </div>
                </div>
                {{#if this.isRecommanded}}
                <div class="isRecommanded">
                    Recommended Movie
                </div>
                {{/if}}
            </a>
        </li>
        {{/each}}
    </ol>
    <div>
        <div id="page"></div>
    </div>
</div>

<script>
    var laypage = layui.laypage;
    var rate = layui.rate;
    let url = new URL(window.location.href);
    laypage.render({
        elem: 'page',
        count: {{ moviesData.total }},
        prev: 'Pre',
        curr: {{ moviesData.curr }},
        next: 'Next',
        limit: {{ moviesData.limit }},
        limitTemplet: function (item) {
            return item + ' / page';
        },
        jump: function (obj, first) {
            if (!first) {
                url.searchParams.set('page', obj.curr);
                url.searchParams.set('limit', obj.limit);
                window.location.href = url.toString();
            }
        }
    });
    rate.render({
        elem: '.movie-rate',
        readonly: true
    });
</script>