<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <img src="{{imageUrl}}" alt="Movie Poster">
    <p>{{plot}}</p>
    <p>Genres: {{#each genres}}{{this}} {{/each}}</p>
    <p>Directed by: {{director}}</p>
    <p>Cast: {{#each cast}}{{this}} {{/each}}</p>
    <p>Rating: {{overallRating}}/5</p>
    <p>Duration: {{duration}} seconds</p>
    <p>Date Released: {{dateReleased}}</p>
    <a href="/">Back to Home</a>
</body>
</html>
