<!DOCTYPE html>
<html>

<head>
    <title>User Profile</title>
</head>

<body>
    <h1>User Profile</h1>
    <p>Username: {{username}}</p>
    <p>Email: {{email}}</p>
    <p>Name: {{firstName}} {{lastName}}</p>
    <img src="{{avatar}}" alt="Profile Picture">
    <!-- Display review history here -->
    <a href="/logout">Logout</a>
</body>

</html>